[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DiscreteDists"]
	path = DiscreteDists
	url = https://github.com/fhernanb/discretedists
[submodule "RelDists"]
	path = RelDists
	url = https://github.com/fhernanb/reldists
